# Negando tudo (necessário para ignorar os executaveis compilados de arquivos C)
* 

# Aceitando todos os arquivos com extensao
!*.*

# Aceitando pastas de uso geral
!_*

# Negando todos os arquivos com extensao .pgm
*.pgm

# Aceitando todos os arquivos .pgm dentro da pasta imagens
!_imagens/*.pgm

# Negando todos os arquivos com result no nome (gerados durante o processamento de imagens
*result*

# Negando todos os arquivos com extensao .o
*.o

# Pastas aceitas
