# Negando tudo (necessário para ignorar os executaveis compilados de arquivos C)
*/*

# Aceitando todos os arquivos com extensao
!*.*

# Aceitando pastas de uso geral
!_*

# Aceitando todos os makefile's
!makefile

# Negando todos os arquivos com extensao .pgm
*.pgm

# Aceitando o arquivo img.pgm
!img.pgm

# Aceitando todos os arquivos .pgm dentro da pasta imagens
!_imagens/*.pgm

# Negando todos os arquivos com result no nome (gerados durante o processamento de imagens
*-result.*

# Negando todos os arquivos com extensao .o
*.o

#specific project
!trabalho1/_dados_img/*


